
header{
    background-image: url(./img/pattern.png);
    background-color: skyblue;
    padding: 2em;
    background-size: 30%;
}
.img-booleaner{
    height: 50px;
    padding-left: 8%;
}
main{
  padding-left: 10%;
  padding-right: 10%;  
  font-size: 14px;
}
div{
    padding-top: 20px;
}
.titolo{
    line-height: 0.2;
}
figcaption{
    font-weight: 200;
    font-size: small;
}
.scritta-grigia{
    color: rgb(156, 156, 156);
}
.scritta-blu{
    color: skyblue;
}
.evidenziatore {
    background-color: yellow;
}
ul{
  position: relative;
  left: -20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: rgb(132, 168, 219);
    color: white;
}

thead th {
    border: 1px solid white;
}

tbody tr:nth-child(even) {
    background-color: rgb(225, 230, 249);
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody td {
    border: 1px solid white;
}
footer{
    padding: 5px;
    background-color: rgb(0, 13, 78);
    text-align: center;
    color: white;
    
}